
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/cssdemo.css" rel="stylesheet" />
    <script src="~/Content/script_demo.js"></script> 
    <title>LoginPage</title>
</head>
<body style="overflow:hidden;">
    <div class="color-gradient">
        <!--configure the popup form-->
        <div id="abc">
            <div style="height:330px; width:400px; background-color:azure; opacity: .80;" id="popupContact">
                <form style="height:330px; width:400px; background-color:white;" action="#" method="post" name="form">
                    <fieldset style="background-color:azure;">
                        <p style="font-size:larger; float:left">Register as User</p>
                        <span id='close' >x</span>
                        <br />
                        <br />
                        <hr>
                        <!--Upload the image part-->
                        <label></label>
                        <img id="image-preview" class="circular-img"src="">
                        <input style="display:none" id="input-image-hidden" onchange="document.getElementById('image-preview').src = window.URL.createObjectURL(this.files[0])" type="file" accept="image/jpeg, image/png"><br />
                        <label></label>
                        <button onclick="HandleBrowseClick('input-image-hidden');">UPLOAD IMAGE</button>
                        <!---->
                        <label>UserName:</label>
                        <input name="UserName" placeholder="UserName" type="text"><br />
                        <label>Email Address:</label>
                        <input name="Email Address" placeholder="Email Address" type="text"><br />
                        <label>Password:</label>
                        <input name="Password" placeholder="Password" type="text"><br />
                        <label>Confirm Password:</label>
                        <input name="Confirm Password" placeholder="Confirm Password" type="text"><br />
                        <hr>
                        <input type="button" value="Sign Up" style="float:right" />
                    </fieldset>
                </form>
            </div>
        </div>
        <!---->
        <button id="popup" onclick="popUp_show()" align="right">Popup</button>

        <form action="/UserLogin/LoginPage">

            <div class="centerlook">
                <h1 style="font-size:xx-large">JOOle</h1>
            </div>

            <div class="centerlook">
                <h1 style="font-size: large"> Building Product Selection PlatForm </h1>
            </div>

            <!--Sign in part-->
            <div class="centerlook">
                <input type="text" name="userIDInfo" dir="rtl" />
            </div>
            <div class="centerlook">
                <input type="password" name="passwordInfo" dir="rtl" />
            </div>
            <!---->

            <div class="centerlook">
                <input type="submit" name="submitLogin" value="Log in" />
            </div>
        </form>
    </div>
</body>
</html>
